<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Products</title>
</head>
<body>
<h1>Products</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.description}"></td>
    <td>Rs.<span th:text="${product.price}"></span></td>
    <td><a th:href="@{/products/{id}(id=${product.id})}">View Details</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>
